# Copy this file to .env.dev and customize values for local development.

# Host ports
ZIPKIN_PORT=9411
WEATHER_BY_CITY_PORT=8080
WEATHER_ME_PORT=8081

# External API settings (optional: service defaults will be used when empty)
WEATHER_API_KEY=
WEATHER_API_URL=https://api.weatherapi.com/v1/current.json
VIA_CEP_URL=https://viacep.com.br/ws
