# Go workspace file
go.work
go.work.sum

# Editor/IDE
# .idea/
.vscode/
microservices/weather-by-city/.DS_Store
microservices/weather-by-city/cmd/.DS_Store
microservices/weather-by-city/internal/.DS_Store